<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
    <header>
        <a href="/home">Home</a>
    </header>
    <main>
        <h2>Usuário: <%= username %>!</h2>
        <a href="/tasks">Listar Tarefas</a>
        <a href="/newMember">Cadastrar Membro</a>
        <form action="/removeMember" method="post">
            <input type="submit" value="excluir conta">
        </form>
    </main>

</body>
</html>
