<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Tarefa</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/newTask.css">

</head>
<body>
    <header>
        <a href="/home">Home</a>
    </header>
    <section>
        <h1>Adicionar Nova Tarefa</h1>

        <form action="/addTask" method="POST">
            <input type="text" id="name" name="name" minlength="5" maxlength="50" placeholder="Título" required>
            <input type="text" id="desc" name="desc" maxlength="140" placeholder="Descrição">
    
            <label for="isDone">Concluída:</label>
            <select id="isDone" name="isDone">
                <option value="false" selected>não</option>
                <option value="true">sim</option>
            </select>    
            <label for="priority">Prioridade:</label>
            <select id="priority" name="priority">
                <option value="Baixa" selected>Baixa</option>
                <option value="Média">Média</option>
                <option value="Alta">Alta</option>
            </select>
    
            <input type="submit" value="Adicionar Tarefa">
        </form>
    </section>
</body>
</html>